
  <md-content  flex layout="column"  layout-align="center center"  layout-padding class="contentdemoBasicUsage" ng-if="!auth.isAuthenticated()" >
  
	 <md-card  layout="row" >
	<!--  <img src="card-image.png" class="md-card-image" alt="Autentificacion"> -->
		 <md-card-content>
		 	   <i class="material-icons">account_box</i>
	   <md-input-container class="md-block">

				<label>Username</label>
				<input ng-model="auth.email" type="email" placeholder="Email" ng-required="true">
			</md-input-container>

			<md-input-container class="md-block">
				<label>contraseña</label>		  	
				<input type="password" placeholder="Password" ng-model="auth.password">
				<input type="hidden" ng-model="auth.tokencsrf" value="auth.csrftoken_value">
			</md-input-container>
	 </md-card-content>
	 <md-card-footer>
	   <md-button flex class="md-primary md-hue-1" ng-click="auth.login()">Entrar</md-button>
	 </md-card-footer>
	</md-card>

</md-content>
</div>
<!-- {{auth.csrftoken_value}} -->